.sitemap.bigpage
  %h2 Карта сайта
  %ul
    %li
      = link_to Refinery::Core.site_name, refinery.root_path(only_path: false), title: Refinery::Core.site_name

      - @pages.each do |page|
        %ul
          %li
            = link_to page.title, refinery.marketable_page_url(page.nested_url), title: page.title
            =# link_to page.title, refinery.url_for(page.url)
            - if page.children.any?
              = render :partial => 'sitemap/page', locals: {:page_children => page}

  =# Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
