%header#header
  .main
    %div.left
      =# link_to Refinery::Core.site_name, refinery.root_path
      = link_to image_tag("krymphotologo.png", alt: "Логотип сайта Фото Крыма", title: "Логотип сайта Фото Крыма"), refinery.root_path, rel: "nofollow"
    %div.wrapper
      %div.center.headerbanner
        = image_tag("banner.jpg", alt: "Панорама Крыма", title: "Панорама Крыма")
      %div.right#logo
        %p#rightheadtext
          Фото Крыма
        %p
          Крым в фотографиях
