%header#header
  .main
    %section.left
      %h1#logo
        =# link_to Refinery::Core.site_name, refinery.root_path
        = link_to "Logo", refinery.root_path
    %section.wrapper
      %section.center#headerbanner
        %p Информация
      %section.right
        %p Приветствие
