%header#header
  .main
    %section.left
      =# link_to Refinery::Core.site_name, refinery.root_path
      = link_to image_tag("krymphotologo.png"), refinery.root_path
    %section.wrapper
      %section.center.headerbanner
        = image_tag("banner.jpg", alt: "Фото Крыма", title: "Фото Крыма")
      %section.right#logo
        %h1
          Фото Крыма
        %p
          Крым в фотографиях
