html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}

body {
  color: #505050;
}

.headerbanner {
  text-align: center;
  margin-top: 15px;
}

#logo {
  color: #482b15;
  h1, p {
    font-style: italic;
    text-align: center;
  }
  p {
    margin-bottom: 30px;
    font-size: 1.2em;
  }
}

p#rightheadtext {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin: 20px 10px 0px;
 }

#page_container:after {
  content: "";
  display: block;
  height: -1em;
  @include media($large-screen) {
    // This corrects white space for html tag
    // height: 12.3em;
    // height: 25em;
  }
}

.bigpage {
  min-height: 32em;
}

#page_container,
#header {
  @include outer-container(1260px);
  .main {
    // @include omega();
    .left {@include span-columns(2);}
    .wrapper {
      margin-bottom: 40px;
      @include outer-container;
      @include span-columns(10);
      .center { @include span-columns(9 of 12);}
      .right  { @include span-columns(3 of 12);}
    }
  }
}

#header {
  .main{
    .wrapper { margin-bottom: 30px;}
  }

}

#header {
  padding-top: 30px;
}

.foto {
  margin: 0 10px 10px;
}

.fotorama__stage__frame {
  box-shadow: rgba(0, 0, 0, 0.14902) 7px 7px 7px 0px;

}


// The mixin above should preferably be in a file of its own. Below is the code for the object that has the texture.

.texture {
  $texture-top-background: lighten(#E3E2DE, 5%);
  $texture-bottom-background: darken(#E3E2DE, 3%);
  // $texture-top-background: lighten(#ddf0ef, 5%);
  // $texture-bottom-background: darken(#ddf0ef, 3%);


  .texture-normal {
    // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  
    @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 1); 
  }

  // .texture-inverted {
  //   // gradient color 1, gradient color 2, gradient angle, texture-number, 0=inverted or 1=normal  
  //   @include texture(180deg, $texture-top-background, $texture-bottom-background, 67, 0); 
  // }
}


footer {
  // @include outer-container;
  @include span-columns(12);
  text-align: left;
  font-size: 0.9em;
  border-top: 2pt solid #482b15;
  padding: 20px 15px 20px;


  margin: 20px 0px 0px;
  // background-color: #ccf;
  div {
    float: left;
    padding-right: 20px;
  }

  p.copy{
    font-size: 0.85em;
  }



}
.footer-logo {
  width: 10%;
  padding: 5px;
}
.footer-center {
  margin-left: 20px;
  padding-top: 10px;
  padding-left: 25px;
  width: 30%;
}
.footer-links{
  padding-top: 10px;

  width: 20%;
}
.footer-metrics{
  padding-top: 10px;

  float: right;
}


.metrics {
  text-align: center;
  margin: 0 auto;
  // padding-top: 80px;
}
.privacy {
  margin-top: 15px;
}