.main .center {
  
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 1.8em;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 1.6em;
    margin-bottom: 12px;
  }
  h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  h6 {
    font-size: 1.0em;
    margin-bottom: 6px;
  }

}

.text-align-center {
  text-align: center;
}