.sitemap ul {
  padding-left: 0px;
  li a { font-size: 1.2em; }
    ul {

      padding-left: 15px;
      li a { font-size: 1em; }

      ul {
        li a {font-size: 0.9em;}

        padding-left: 30px;
      }
    }
}